{% extends 'layout.twig' %}
{% block title %}
  create a blog
{% endblock %}

{% block main %}
  <div class="article-main main container">
    <div class="title">
        <h1>
          {{ article.title|default() }}
        </h1>
    </div>
    <div class="content">
        {{ article.content|default() }}
    </div>
  </div>
{% endblock %}