{% extends 'layout.twig' %}
{% set title =  article.title %}
{% set styles = ['/dist/css/article-show.css'] %}
{{ scripts(scriptList, {0: ['/dist/js/article/show/index.js']}) }}

{% block main %}
  
  <div class="article-main main container">
    <div class="col-md-12">
      <h1 class="title mb3">
        {{ article.title|default() }}
      </h1>
      <div class="content markdown-body">
          {{ article.content|default() }}
      </div>
  {% set t =  findComments(1, 1) %}
      <div class="comments">
        {% include 'common/comment/comment.twig'  with {
          targetId: 1,
          targetType: 'article',
          comments: t.comments,

        } %}
      </div>
    </div>
    {% set t =  findComments(1, 1) %}
    
    {# {{ dump(t) }} #}
    {# <div class="col-md-3">

    </div> #}
  </div>
{% endblock %}