{% extends 'layout.twig' %}
{% set title =  article.title %}
{% set styles = ['/dist/css/article-show.css'] %}
{% set scripts = ['/dist/js/article/show/index.js'] %} 
{% block main %}
  
  <div class="article-main main container">
    <div class="col-md-12">
      <h1 class="title mb3">
        {{ article.title|default() }}
      </h1>
      <div class="content markdown-body">
          {{ article.content|default() }}
      </div>

      <div class="comments">
        {% include 'common/comment/comment.twig' %}
      </div>
    </div>
    {# <div class="col-md-3">

    </div> #}
  </div>
{% endblock %}