{
  "restartable": "rs",
  "ignore": [
      ".git",
      ".svn",
      "node_modules/**/node_modules"
  ],
  "verbose": true,
  "execMap": {
      "js": "node --harmony"
  },
  "watch": [
    "src/common",
    "src/server",
    "node_modules/koa-symphony/",
    "public/dist/webpack.assets.json"
  ],
  "env": {
    "NODE_ENV": "production"
  },
  "ext": "js json twig"
}