a {
  color: @primary-color;

  &:hover,
  &:active,
  &:hover {
    color: darken(@primary-color, 10);
    text-decoration: none;
  }
}

a.white{
  color: @white-color;

  &:hover,
  &:active,
  &:hover {
    color: @white-color;
  } 
}