.btn-primary {
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 14px;
}

.btn.webuploader-container {
  padding: 0;
  display: inline-block;
  height: 32px;
  width: 80px;
  line-height: 32px;
}

.btn.btn-primary {
  background: #2da4d9;
  &:hover,
  &:active,
  &:focus {
    background: #1d9cd6;
  }
}