.btn-primary {
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 14px;
}



.btn.btn-primary {
  background: #2da4d9;
  &:hover,
  &:active,
  &:focus {
    background: #1d9cd6;
  }
}