@import '../system/color.less';

.apps {
  li {
    background: @primary-color;
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
  }
}

.article-list {
  li {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
    list-style: none;
    position: relative;
  }

  .title {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .sub-title {
    margin: 0 0 10px;
    line-height: 22px;
    color: #919191;
  }

  .has-image {
    padding-right: 300px;

    .article-image {
      position: absolute;
      right: 0;
      top: 0;
      width: 250px;
      min-height: 89px;
    }
  }

  .meta {
    color: #999;

    span {
      cursor: pointer;
      padding-right: 4px;

      &.act {
        color: @primary-color;
      }
    }
  }
}
