{% extends 'admin/layout.twig' %}
{% set tab = 'user' %}
{% block main %}
  <table class="table table-striped">
      <thead>
        <tr>
          <th>账号</th>
          <th>IP</th>
          <th>创建时间</th>
          <th>状态</th>
          <th>管理</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
            <td>
                {{ user.nickname }}
            </td>
            <td>
                {{ user.registerIp }}
            </td>
            <td>
                {{ user.createdAt }}
            </td>
            <td>
            </td>
            <td>
            </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}