{% extends 'layout.twig' %}
{% set scripts = ['/dist/js/index/index.js'] %}
{% set styles = ['/dist/css/index.css'] %} 
{% set bodyClass = 'fullscreen' %}
{% block main %}
  <span class="coding">
    Coding...
  </span>
{% endblock %}