<footer class="footer">
  <div class="copyright text-center">
    Powered by <a href="https://github.com/Jay-tian/koa-symphony">koa-symphony</a>  v1.0.20<br>
    <a href="http://www.miibeian.gov.cn/" class="cd-link-assist" rel="nofollow">浙ICP备18040436号-1</a> &nbsp;
  </div>
</footer>