<footer class="footer">
  <div class="copyright text-center">
    Powered by <a href="https://github.com/Jay-tian/koa-symphony">koa-symphony</a> v1.0.23<br>
    <a href="http://www.beian.miit.gov.cn/" class="cd-link-assist" rel="nofollow">浙ICP备18040436号</a> &nbsp;
  </div>
</footer>