<footer class="footer">
  <div class="copyright text-center">
    Copyright © 2011-2018 koa-symphony 版本 1.0.7<br>
    <a href="" class="cd-link-assist" rel="nofollow">浙ICP备 xxxx</a> &nbsp;
    <a target="_blank" href="" class="cd-link-assist" rel="nofollow">浙公网安备 xxxxxxx号</a>
  </div>
</footer>