<div class="replay-target">
{{ dump(replay)}}
  <pre class="">{{ replay.content }}</pre>
  <p class="comment-ops">
    {# <a class="" href="javascript:;">点赞</a> #}
    <a class="grey" href="javascript:;">回复</a>
  </p>
</div>