{{ scripts(scriptList, {10: ['/dist/js/comment/submit/index.js']}) }}

<div id="comments-action" class="comments-action clearfix">
  <div class="comments-box-content">
    <p class="reply-target mb1"> 
      @<span class="reply-target-content">1楼</span> <span class="js-delete-reply iconfont icon-close-circle"></span>
    </p>
    <form action="{{ url('createComment', {targetId: article.id, targetType: 'article'}) }}" method="POST">
      <textarea name="content" rows="3" class="form-control" placeholder="文明社会，理性评论"></textarea>
      <div>
        <button class="js-comment-btn btn btn-primary pull-right mt2" type="submit">发布评论</button>
      </div>
      <input name="targetId" type="hidden" value="{{ article.id }}">
      <input name="targetType" type="hidden" value="article">
      <input name="replyId" id="replyId" type="hidden" value="0">
    </form>
  </div>
</div>

{% include 'comment-item.twig'  %}