{% set commentData =  findReplyComments(replyId, page) %}
{% set commentCount = countReplyComments(replyId) %}

{% for comment in commentData.comments %}
  {% set commentUser = commentData.users[comment.userId]|default() %}
  {% include 'root::common/comment/comment-reply-item.twig' with {commentUser: commentUser, comment: comment} %}
{% endfor %}

{% if not commentData.comments %}
  <div class="replay-target">
    无回复
  </div>
{% endif %}