<div class="comments-action">
  <div class="">
  </div>
  <div class="comments-box-content">
    <form action="">
      <textarea name="text" rows="3" class="form-control" placeholder="文明社会，理性评论"></textarea>
      <div>
        <button class="js-comment-btn btn btn-primary pull-right mt2" type="button">发布评论</button>
      </div>
    </form>
  </div>
</div>