{% for comment in comments %}
{% set commentUser = users[comment.userId]|default() %}
<div class="comments-item">
  <div class="commens-item-title">
    {{ comment.id }}楼
    <strong>
      <a target="_blank" href="javascript:;">
        {{ commentUser.nickname }}
      </a>
    </strong>
    <span>
      {{ comment.createdAt|timeDate2str }}
    </span>
  </div>

  <pre class="comments-item-content">
    {{ comment.content }}
  </pre>

  {# <p class="comment-ops">
    <span class="comments-zan ">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      <span class="comments-zan-text">赞</span>
      <span class="comments-zan-value">+1</span>
    </span>
    <span class="ml15 comments-reply-btn">回复</span>
  </p> #}
</div>
{% endfor %}