<div class="replay-target">
  <pre class="">{{ reply.content }}</pre>
  <p class="comment-ops">
    {# <a class="" href="javascript:;">点赞</a> #}
    <a class="grey js-reply-btn"  data-id="{{ reply.id }}" href="javascript:;">回复</a>
  </p>
</div>