<div class="comments-box" id="goToReplyEditor">
  <div class="pull-left">
      <img class="avatar-32 " src="https://avatar-static.segmentfault.com/697/892/697892987-5ab2fc6cddccc_big64" alt="">
  </div>
  <div class="comments-box-content">
      <form action="/api/news/1210000019141178/comments/add">
          <div class="form-group mb0">
              <textarea name="text" rows="3" class="form-control" placeholder="文明社会，理性评论"></textarea>
              <div>
                  <button class="btn btn-primary" type="button">发布评论</button>
              </div>
          </div>
      </form>
  </div>
</div>