{% set commentData =  findComments(targetId, 'article', page) %}
{% set commentCount = countComments(targetId, 'article') %}
<div class="comment-list">
  {% for comment in commentData.comments %}
  {% set commentUser = commentData.users[comment.userId]|default() %}
  <div class="comments-item">
    {% include 'root::common/comment/comment-user.twig' with {nickname: commentUser.nickname, comment: comment} %}
    <pre class="comments-item-content">{{ comment.content }}</pre>
    <p class="comment-ops">
      {# <a class="" href="javascript:;">点赞</a> #}
      {# <a class="grey btn js-reply-btn"  data-id="{{ comment.id }}" data-floor="{{ comment.floor }}">回复</a> #}
    </p>
    {% if comment.replyId %}
      {% set reply = replys[comment.replyId] %}
      {% set replyUser = users[reply.userId]|default() %}
      {% include 'comment-reply.twig' with {reply: reply, replyUser: replyUser}%}
    {% endif %}
  </div>
  {% endfor %}

  {% set pagination = pagination({targetId: targetId, targetType: targetType, page: page}, 'commentList', commentCount) %}
  {% include 'root::common/system/pagination.twig' with {pagination: pagination, async: true, box: '.comment-list'} %}
</div>