<div class="commens-item-title">
  <strong>
    <a target="_blank" href="javascript:;">
      {{ nickname }}
    </a>
  </strong>
  <span class="comment-time">
    · {{ comment.createdAt|timeDate2str }} · {{ comment.id }}楼
  </span>
</div>