<div class="commens-item-title">
  <strong>
    <a target="_blank" href="javascript:;">
      {{ nickname }}
    </a>
  </strong>
  <span class="comment-time">
    · {{ comment.createdAt|timeDate2str }} · {% if comment.replyFloor %} {{comment.replyFloor}}层 {% else %} {{ comment.floor }}楼 {% endif %}
  </span>
</div>