{{ scripts(scriptList, {10: ['/dist/js/comment/submit/index.js']}) }}

<div class="comments-action clearfix">
  <div class="">
  </div>
  <div class="comments-box-content">
    <form action="{{ url('createComment', {targetId: article.id, targetType: 'article'}) }}" method="POST">
      <textarea name="content" rows="3" class="form-control" placeholder="文明社会，理性评论"></textarea>
      <div>
        <button class="js-comment-btn btn btn-primary pull-right mt2" type="submit">发布评论</button>
      </div>
      <input name="targetId" type="hidden" value="{{ article.id }}">
      <input name="targetType" type="hidden" value="article">
    </form>
  </div>
</div>

{% include 'comment-item.twig'  %}