{% for comment in comments %}
{% set commentUser = users[comment.userId]|default() %}
<div class="comments-item">
  <div class="commens-item-title">
    {{ comment.id }}楼
    <strong>
      <a target="_blank" href="javascript:;">
        {{ commentUser.nickname }}
      </a>
    </strong>
    <span class="comment-time">
      · {{ comment.createdAt|timeDate2str }}
    </span>
  </div>

  <pre class="comments-item-content">{{ comment.content }}</pre>
  <p class="comment-ops">
    <a class="" href="javascript:;">点赞</a>
    <a class="" href="javascript:;">回复</a>
  </p>

  {% include 'comment-reply.twig' %}
</div>
{% endfor %}