.comments {
  padding-top: 30px;

  .comments-action {
    background: #f1f1f1;
    padding: 15px;
    border-bottom: 1px solid #dfdfdf;
  }

  .comments-item {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
  }

  .comments-item-content {
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    line-height: 20px;
    background: #fff;
    margin-bottom: 0;
  }

  .replay-target {
    background: #FAFAFA;
    border: none;
    padding: 10px;

    pre {
      background: transparent;
      border: none;
      padding: 0;
      border-bottom: 1px dashed #f1f1f1;
      padding-bottom: 5px;
    }
  }
}
