{% extends 'layout.twig' %}
{% set bodyClass = 'fullscreen' %}
{% set title = 'JSON在线解析 无境-jay 博客' %}
{% set description = 'json,json在线解析,json格式化,json格式验证' %}
{% set keywords = 'json,json在线解析,json格式化,json验证' %}
{% set scripts = ['/dist/js/json-decode/index.js', '/dist/js/libs/jsonlint/lib/jsonlint.js'] %}
{% set styles = ['/dist/css/json-decode.css'] %} 

{% block main %}
  <div class="app-json">
    <div class="content clearfix container">
      <textarea  class="json-src" id="json-src" placeholder="在此输入json字符串"></textarea>
      <div class="show">

      </div>
    </div>
  </div>
{% endblock %}