{% extends 'layout.twig' %}
{% set title = '个人音乐' %}
{% set description = '个人音乐' %}
{% set keywords = '音乐' %}
{% set styles = ['/dist/css/music.css'] %} 
{% set scripts = ['/dist/js/music/index.js'] %} 
{% set bodyClass = 'fullscreen' %}

{% block main %}
<div class="" id="music"></div>
{% endblock %}