{% extends 'layout.twig' %}
{% set bodyClass = 'fullscreen' %}
{% set title = 'web水印 无境-jay 博客' %}
{% set description = 'web水印' %}
{% set keywords = 'fingerprint,web水印,水印, web指纹' %}
{% set scripts = ['/dist/js/json-decode/index.js', '/dist/js/libs/jsonlint/lib/jsonlint.js'] %}
{% set styles = ['/dist/css/json-decode.css'] %} 

{% block main %}
  <div class="app-json">
    <div class="content clearfix">
      <textarea  class="json-src" id="json-src" placeholder="在此输入json字符串"></textarea>
      <pre class="show">
      </pre>
    </div>
  </div>
{% endblock %}