{% extends 'layout.twig' %}
{% set bodyClass = 'fullscreen' %}
{% set title = 'web水印 无境-jay 博客' %}
{% set description = 'web水印' %}
{% set keywords = 'fingerprint,web水印,水印, web指纹' %}
{% set scripts = ['/dist/js/fingerprint/index.js'] %}
{% set styles = ['/dist/css/json-decode.css'] %} 

{% block main %}
  <style>
    .change-text{
      position: absolute;
      height: 100px;
      top: 50%;
      margin-top: -50px;
      text-align: center;
      width: 100%;
    }

    .change-text .text {
      border: 1px solid #f3f3f3;
      padding: 5px 8px;
      outline: none;
    }
  </style>
  <div class='change-text'>  
    <input value='Jay' id='text' class="text mr2" autocomplete='off'>
    <span class='btn btn-primary' id='change'>Change</span>
    <span class='ml2'>
      <a href="https://github.com/Jay-tian/web-fingerprint" target="_blank">
        项目地址
      </a>
    </span>
  </div>
{% endblock %}