<div class="apps panel panel-default">
  <div class="panel-heading">
    在线小应用
  </div>
  <div class="panel-body">
    <ul class="text-center">
      {# <li>
        <a class="white" href="{{ url('showApp', 'poker') }}" target="_blank" >算法扑克</a>
      </li> #}
      <li>
        <a class="white" href="{{ url('showApp', 'json') }}" target="_blank" >Json解析</a>
      </li>
      <li>
        <a class="white" href="{{ url('showApp', 'web_fingerprint') }}" target="_blank" >网页指纹SDK</a>
      </li>
      {# <li>
        <a class="white" href="{{ url('showApp', 'hearthstone') }}" target="_blank" >炉石模拟器</a>
      </li> #}
    </ul>
  </div>
</div>