{% extends 'layout.twig' %}
{% set scripts = ['/dist/js/index/index.js'] %}
{% set styles = ['/dist/css/index.css'] %} 

{% block main %}
  <div class="main clearfix container">
    <div class="col-md-9">
      <ul class="article-list">
        <li class="">
          <a class="title black" target="_blank" href="">
            浓浓粽香飘，我的端午情，多彩华夏画展
          </a>
          <div class="sub-title">
            Chrome浏览器也叫谷歌浏览器，虽然市面上的浏览器越来越多，好用的也不少，但谷歌浏览器依然是许多用户的首选。 除了性能、使用习惯等，各种良心插...
          </div>
          <div class="meta">
            <a class="nickname" target="_blank" href="">
              学无止境
            </a>

            <i class="iconfont icon-eye"></i> 4  
            <i class="iconfont icon-like"></i> 5
          </div>
        </li>
        {# {% for article in articles %}
          <li class="">
            <div class="content">
              <a class="title" target="_blank" href="">
                {{ article.dataValues.title }}
              </a>
              <p class="abstract">
              </p>
              <div class="meta">
                <a class="nickname" target="_blank" href="">
                  
                </a>
                  <a target="_blank" href="/p/cd7f429f4278#comments">
                    <i class="iconfont ic-list-comments"></i> 0
                  </a>      
                <span>
                  <i class="iconfont ic-list-like"></i> 0
                </span>
              </div>
            </div>
          </li>
        {% endfor %} #}
      </ul>      
    </div>
    <div class="col-md-3">
      <ul class="apps">
        <li>
          算法扑克
        </li>
      </ul>
    </div>
  </div>
{% endblock %} 